# User Data
data/*
data/analyst_output/*
!data/.gitkeep
!data/analyst_output/.gitkeep
*.mp4
*.jpg
*.png
*.gif
*.log

# Java / Maven
target/
*.class
.mvn/
mvnw
mvnw.cmd

# Python
__pycache__/
*.pyc
venv/
env/
.env

# IDE
.vscode/
.idea/
*.iml
.DS_Store

# Agent
.gemini/

# Remove commit git model over 100MB
traffic-ai-client/model/medium/mediumv1.pt

# Cho phép push file .gitkeep trong folder medium để giữ folder
!traffic-ai-client/model/medium/.gitkeep
!traffic-ai-client/model/nano/.gitkeep