# User Data
data/*
!data/.gitkeep
*.mp4
*.jpg
*.png
*.gif
*.log

# Java / Maven
target/
*.class
.mvn/
mvnw
mvnw.cmd

# Python
__pycache__/
*.pyc
venv/
env/
.env

# IDE
.vscode/
.idea/
*.iml
.DS_Store

# Agent
.gemini/

# Remove commit git model over 100MB
traffic-ai-client/model/medium/best.pt
traffic-ai-client/model/medium/mediumv2.pt
traffic-ai-client/model/medium/mediumv3.pt